{% set form_action = form.vars.value.id ? path('app_versiones_edit', {'id': form.vars.value.id}) : path('app_versiones_new') %}

{{ form_start(form, {'action': form_action, 'attr': {'id': 'formVersion'}}) }}
    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Ej: XLT 2.0'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.characteristics) }}
        {{ form_widget(form.characteristics, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.modelo) }}
        <div class="input-group">
            {{ form_widget(form.modelo, {'attr': {'class': 'form-select form-select-lg'}}) }}
            <button class="btn btn-primary" type="button" id="btn-add-nested-modelo">
                <i class="fa fa-plus"></i>
            </button>
        </div>
        <div class="text-danger form-error-message mt-1" data-field-error="modelo"></div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">
            <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
            Guardar
        </button>
    </div>
{{ form_end(form) }}