{% set form_action = form.vars.value.id ? path('app_vehiculos_edit', {'id': form.vars.value.id}) : path('app_vehiculos_new') %}

{{ form_start(form, {'action': form_action, 'attr': {'id': 'formVehiculo', 'enctype': 'multipart/form-data'}}) }}
    
    <div class="form-group">
        {{ form_label(form.version) }}
        <div class="input-group">
            {{ form_widget(form.version, {'attr': {'class': 'form-select form-select-lg'}}) }}
            <button class="btn btn-primary" type="button" id="btn-add-nested-version">
                <i class="fa fa-plus"></i>
            </button>
        </div>
        <div class="text-danger form-error-message mt-1" data-field-error="version"></div>
    </div>

    <div class="row">
        <div class="col-sm-6">{{ form_row(form.anio) }}</div>
        <div class="col-sm-6">{{ form_row(form.plateNumber) }}</div>
        <div class="col-sm-6">{{ form_row(form.color) }}</div>
        <div class="col-sm-6">{{ form_row(form.chassis_number) }}</div>
        <div class="col-sm-6">{{ form_row(form.engine_number) }}</div>
        <div class="col-sm-6">{{ form_row(form.kilometers) }}</div>
        <div class="col-sm-6">{{ form_row(form.state) }}</div>
        <div class="col-sm-6">{{ form_row(form.entry_date) }}</div>
    </div>
    
    <hr>
    <h5 class="mb-3">Información de Compra</h5>

    {# --- CAMPO PROVEEDOR AÑADIDO --- #}
    <div class="form-group">
        {{ form_label(form.supplier) }}
        <div class="input-group">
            {{ form_widget(form.supplier) }}
            <button class="btn btn-primary" type="button" id="btn-add-nested-proveedor">
                <i class="fa fa-plus"></i>
            </button>
        </div>
        <div class="text-danger form-error-message mt-1" data-field-error="supplier"></div>
    </div>
    
    <div class="row">
        <div class="col-sm-6">{{ form_row(form.purchase_price) }}</div>
        <div class="col-sm-6">{{ form_row(form.suggested_retail_price) }}</div>
    </div>
    
    {{ form_row(form.internal_observations) }}
    
    <hr>
    
    <div class="form-group">
        {{ form_label(form.imagenesVehiculos) }}
        <ul class="list-unstyled" 
            id="imagenes-collection" 
            data-prototype="{{ form_widget(form.imagenesVehiculos.vars.prototype)|e('html_attr') }}"
            data-index="{{ form.imagenesVehiculos|length }}">
            
            {% for imagenForm in form.imagenesVehiculos %}
                <li class="mb-2">
                    {{ form_row(imagenForm.imageFile) }}
                </li>
            {% endfor %}
        </ul>
        <button type="button" id="btn-add-imagen" class="btn btn-secondary btn-sm mt-2">
            <i class="fa fa-plus"></i> Agregar otra imagen
        </button>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">
            <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span> Guardar
        </button>
    </div>
{{ form_end(form) }}